<mat-toolbar color="primary">
    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below">
      <button mat-menu-item routerLink="collection">Collection & Bag</button>
      <button mat-menu-item routerLink="profile">Profile</button>
    </mat-menu>
    <img src="../../../../assets/logo.png" height="50px" width="100px">
    <span class="spacer"></span>
    <button mat-icon-button >
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>