<div class="h-full bg-purple p-2">
    <h1 class="text-accent">Bag</h1>
    @for(disc of collection; track disc.id){
        @if(disc.bag){
            <li class="flex items-center text-accent gap-2 mt-2">
            <span class="text-white"><b>{{disc.name}}</b>&nbsp;|&nbsp;{{disc.brand}}</span>
            <button mat-icon-button color="white" (click)="addDiscToCollection(disc)" class="invisible"><mat-icon>warehouse</mat-icon></button>
            <!-- <button class="invisible" mat-icon-button color="white"><mat-icon>delete</mat-icon></button> -->
        </li>
        }
    }
</div>